body {
	margin: 0px;
	background-color: #CCC;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}
.questnumber {
color:#CCCCCC;
font-weight:bold;
font-size:12px;

}

.questions {
	margin-top: 20px;
	text-align:left;
	border:solid 1px #CCC;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}
label {
	margin-left: 5px;
	word-spacing: normal;
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
}

.questions tr th {
	font-weight:bold;
	text-align:left;
	line-height: 18px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
}
#Table_01 tr td input {
	padding: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.title {
	margin-left:305px;
	
}
.title h2{
	color:#FFF;
	padding:0px;
	margin-bottom:5px;
	
}
.title h3{
	color:#000;
	padding:0px;
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
	
}

.pass {
	background:#090;
	height:30px;
	width:400px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	border:solid 1px #030;
	
}

.fail{
	background: #900;
	height:30px;
	width:400px;
	padding:5px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
		border:solid 1px 
		#600;
	
}
/*- Social Links -*/
.social-links {
	background: url(../images/box-bgr2.gif) #f1f1f1 repeat-x top;
	height: 42px;
	padding: 0 8px;
}
.social-links .fl {
	line-height: 42px;
}
.social-links .fl h2 {
	
	padding-left:10px;
}
/*- Box1 -*/
.box {
	background: #ffffff;
	border: 1px solid #cfcfcf;
	margin: 0 0 28px;
	padding: 1px;
}
.box .content {
	background: url(../images/box-bgr.gif) #ffffff repeat-x top;
	height: 1%;
	padding: 18px;
}
.box.ads .content {
	padding-left: 15px;
	padding-right: 0;
	text-align: center;
}
#rightcol .box {
	margin: 0 0 10px;
}
.ads img, .ads.flickr .content img {
	margin: 0 14px 15px 0;
}
.ads.flickr .content img {
	border: 1px solid #cfcfcf;
}
.ads.flickr .ac img {
	border: 0;
	margin: 0;
}
.item{
	margin-bottom:10px;
	
}