
body {
	color: #444;
	background: #4C1B1B url(/images/cssimg/bg-1-5.png) repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
}

a#logo {
	color: #B9121B;
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
}

div.container {
	background-color: #fff;
	border: 10px solid #eee;
	min-height: 600px;
}

div#nav div#placeholder-nav {
	background-color: #4C1B1B;
}

div#hero div#placeholder-hero {
	background-color: #EFEBD9;
}

div#hero-sub div.inner {
	background-color: #F5F3E9;
	color: #444;
	font-size: 11px;
}

div#footer {
	border-top: 1px solid #eee;

}

td.menu-item {
	color: #fff;	
}

td.menu-item-hover {
	color: #fffc00;
}

td.menu-item-selected {
	color: #FF6A6A;
}

td.submenu-item {
	background: #f9f9f9;
	color: #000;
	font-size: 11px;
	padding: 6px !important;
}

td.submenu-item-hover {
	background: #4C1B1B;
	color: #fff;
	font-size: 11px;
	padding: 6px !important;
}

td.submenu-item-selected {
	background: #000;
	color: #fff;
	font-size: 11px;
	padding: 6px !important;
}

/* @group Forms */

.product-form h3 {
	font-size: 14px;
	padding-left: 9px;
}

.product-form {
	margin-bottom: 18px;
}

.secure-login, .newsletter-form {
	background: #f9f9f9;
	border: 1px solid #f2f2f2;
	margin-bottom: 18px;
}

.secure-login h3, .newsletter-form h3 {
	background: #eee;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	margin: 0;
	padding: 6px 18px;
}

.secure-login div.form, .newsletter-form div.form {
	padding-left: 9px;
}

#placeholder-nav table td {cursor: pointer;cursor: hand; }    /* @end */

/* @group Links */

a:link, a:visited {
	color: #B9121B;
	text-decoration: none;	
}

a:hover, a:active {
	color: #B9121B;
	text-decoration: underline;
}

#placeholder-nav table td {cursor: pointer;cursor: hand; }    /* @end */



/* @group Template Settings */

div#header-left img {
	margin: 30px 0 0;
}

div#header-left, div.whoslogged, div#header-right {
	height: 126px;
	line-height: 126px;
	
}

div.whoslogged {
	text-align: right;
}

div#placeholder-search {
	padding: 46px 40px 0 0;
	text-align: right;
}

div#placeholder-search input.cat_textbox_small {
	width: 130px;
}

div#nav div#placeholder-nav {
	height: 36px;
}

div#placeholder-nav {
	padding-left: 18px;
}

div#placeholder-nav td {
	padding: 0;
	vertical-align: middle;
}

div#hero {
	margin-right: 0;
	width: 600px;
}

div#hero div#placeholder-hero {
	overflow: hidden;
}

div#hero div#placeholder-hero, div#hero-sub div.inner {
	height: 216px;
}

div#hero-sub div.inner {
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

div#hero-sub div.pad {
	padding: 18px;
}

div#main div.inner, div#sub div.inner {
	padding: 18px 0 36px;
}

div#placeholder-rss {
	height: 16px;
	margin-bottom: 9px;
	text-align: right;
}

div#placeholder-rss img {
	margin: 0 9px;
	vertical-align: middle;
}

div#footer {
	padding-top: 18px;
	height: 72px ;
}

#placeholder-nav table td {cursor: pointer;cursor: hand; }    /* @end */