@charset "UTF-8";
/* CSS Document */


/*=== Setup ===*/
* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: url(../images/bgr.gif) #f7f6f6 repeat-x top;
	color: #404040;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: .86em;
}
a {
	color: #007ec8;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
input, select, textarea {
	border: #cfcfcf 1px solid;
	color: #404040;
	font-size: 12px;
	padding: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

div#steps  ul li {
	list-style-type:disc;
	list-style-position:inside;
	margin-bottom:6px;
}

li {
	list-style: none;
}




h1{
color:#0067b2;
font-size:30px;
font-weight:bold;
letter-spacing:-2px;
margin:0 0 8px 0;
text-decoration:none;
}

h2 {
	color: #222222;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: -.2px;
	margin: 0 0 .5em;
}
h3 {
	color: #333333;
	font-size: 1.2em;
	margin: 0 0 .8em;
}
h4 {
	font-size: 1em;
	margin: 0 0 1em;
}
p {
	line-height: 1.5em;
	padding: 0 0 1.3em;
}

.req {
	color:#900;
}
hr {
   color: #cccccc;
background-color: #cccccc;
height: 1px;
margin:12px 0 12px 0;
}
/*== Certs==*/
.carsCert {
	background:url(../Images/certs/CertificateCARS_noscore.png);
	background-repeat:no-repeat;
	width:783px;
	height:594px;
position:relative;
	
}

.carsCertFL {
	background: url(../images/certs/CertificateCARS_fl_nodate.png);
	background-repeat:no-repeat;
	width:783px;
	height:594px;
position:relative;
	
}

.frsCert {
	background: url(../images/certs/CertificateFRS_noscore.png);
	background-repeat:no-repeat;
	width:783px;
	height:594px;
position:relative;
	
}
/*== Menu==*/
#nav_429121, #nav_429121 ul {
	padding: 0;
	margin: 0;
	list-style: none;
display: inline;
}

 #nav_429121 ul li {
	display: inline;
}

#nav_429121 a {
	/*background: url(../images/bg_nav2.gif) no-repeat;*/
       background-position: 0 0;
       color:#414040;	
	padding:0 16px 0 21px;
        height:37px;
       text-decoration: none;

}

#nav_429121 a:hover {
	/*background: url(../images/bg_nav2.gif) no-repeat;*/
	background-position: 0 37px;
       color:#414040;		
	padding:0 16px 0 21px;
        height:37px;
        text-decoration: none;


}

#cat_429121_divs {
display: inline;
}

#nav_429121 li {
       background: url(../images/bg_nav.gif) no-repeat right top;
	    background-position: 0 0;
	    float: left;
	    margin: 0;
	    padding: 0;
        line-height: 38px;
	    text-align:center;
		height:38px;
display: inline; 
}



#nav_429121 li.selected {
 background: url(../images/bg_nav_over.gif) no-repeat right top;
	    background-position: 0 0;
	    float: left;
	    margin: 0;
	    padding: 0;
        line-height: 38px;
	    text-align:center;
		height:38px;
display: inline; 

}




div#nav div#placeholder-nav {
	background: url(../images/nav1-sep.gif) no-repeat left top;
	font-size: 13px;
	height: 38px;
}

div.navmain {
	background: url(../images/nav1-sep.gif) no-repeat left top;
	font-size: 13px;
	height: 38px;
	padding: 0 0px 0 1px;
	
	
}



.menu-item {
	color:#414040;	
	background: url(../images/nav1-sep.gif) no-repeat right top;

 
	line-height: 38px;
	text-align:center;
	
}

.menu-item-hover {
	color:#414040;		
	background: #FEFEFE;


	line-height: 37px;
	text-align:center;
}

.menu-item-selected {
	color:#414040;	
	background: url(../images/nav1-sep.gif) no-repeat right top;
	line-height: 37px;
 


	text-align:center;

}

.submenu-item {
	background: #757575;
	color: #dcdcdc;
	font-size: 11px;
	padding: 6px !important;
	line-height: 18px;
	
}

.submenu-item-hover {
	background: #FEFEFE;
	color: #7f7f7f;
	font-size: 11px;
	padding: 6px !important;
	line-height: 18px;
}

.submenu-item-selected {
	background: #ebebeb;
	color: #7f7f7f;
	font-size: 11px;
	padding: 6px !important;
	line-height: 18px;
}



/*=== Layout ===*/
#page {
	margin: 0 auto;
	width: 975px;
}
#page-bot {
	background: url(../images/page-bot.gif) repeat-x top;
	height: 39px;
}
/*=== H eader ===*/
#header{
	height: 107px;
	margin: 0 0 1px;
}
/*- Logo -*/
#header h1 {
	background: url(../images/logo_risc.gif) no-repeat;
	float: left;
	text-indent: -9999px;
	width: 328px;
}
#header h1 a {
	display: block;
	height: 101px;
}
#header h1 a:hover {
	text-decoration: none;
}

div#whologged {
 height:107px;
 line-height:108px;
 text-align: right;
 float:left;
 width:340px;
 color:#CCCCCC;
 

}
div#headright {
 height:108px;
 line-height:108px;
 float:right;
 

}
/*=== Navigation ===*/
/*- Top Nav -*/
.topnav {
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	overflow: hidden;
}
.topnav li {
	background: url(../images/topnav-sep.gif) no-repeat left;
	float: left;
	line-height: 25px;
}
.topnav li.first {
	background: none;
}
.topnav li.first a {
	padding: 0 7px 0 4px;
}
.topnav li a {
	color: #cccccc;
	display: block;
	float: left;
	padding: 0 7px 0 8px;
	text-decoration: none;
}
.topnav li a:hover,
.topnav li.active a {
	text-decoration: underline;
}	
/*- Nav1 -*/
/*#nav1 {
	background: url(../images/nav1-sep.gif) no-repeat left top;
	font-size: 13px;
	height: 37px;
}
#nav1 ul.sf-menu li {
	position: relative;
	background: url(../images/nav1-sep.gif) no-repeat right top;
	float: left;
	line-height: 37px;
	padding: 0 1px 0 0;
	text-align: center;
}
#nav1 ul.sf-menu li a {
	color: #333333;
	display: block;
	position: relative;
	float: left;
	text-decoration: none;
	width: 107px;
	cursor: pointer;
}
#nav1 ul.sf-menu li a:hover {
	text-decoration: none;
	background: #FEFEFE;
}
#nav1 ul.sf-menu li ul.children {
	border: 1px solid #000000;
	background: #272726 url(../images/ul_children_bg.gif) repeat-y top right;
}
#nav1 ul.sf-menu li ul.children li {
	background: url(../images/ul_children_li_bg.gif) no-repeat bottom right;
}
#nav1 ul.sf-menu li ul.children li a {
	color: #bebebe;
	text-decoration: none;
	display:block;
}
#nav1 ul.sf-menu li ul.children li a:hover {
	text-decoration: none;
	background: none;
}
#nav1 ul.sf-menu li ul.children li ul.children {
	border: 1px solid #000000;
	border-left: none;
	background: #272726 url(../images/ul_children_ul_children_bg.gif) repeat-y top left;
}
#nav1 ul.sf-menu li ul.children li ul.children li {
	background: url(../images/ul_children_li_bg.gif) no-repeat bottom right;
}
#nav1 ul.sf-menu li ul.children li ul.children a {
	color: #bebebe;
	text-decoration: none;
}
#nav1 ul.sf-menu li ul.children
{
	margin:5px 0 0 0;
}
#nav1 ul.sf-menu li ul.children ul.children
{
	margin:-1px 0 0 27px;
}*/
/*=== All Columns ===*/
#columns {
	margin: 10px 0 0;
	padding: 0 0 15px;
	display: table-cell;
	display: block;
	height: auto !important;
	height: 900px;
	min-height: 900px;
}
/*=== Center Column ===*/
#centercol {
	float: left;
	width: 660px;
}
/*=== Right Column ===*/
#rightcol {
	float: right;
	width: 305px;
}
#rightcol a {
	color: #cc0000;
	text-decoration: none;
}
#rightcol a:hover {
	color: #cc0000;
	text-decoration: underline;
}
/*=== Sub Columns ===*/
.subcols {
	background: url(../images/subcols-bgr.gif) repeat-y left;
	height: 1%;
}
.col1, .col2 {
	float: left;
	width: 285px;
}
.col2 {
	float: right;
}
/*=== Post ===*/
/*- Post Title -*/
.post-title h1 {
	color: #0c63ad;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: -0.5px;
	margin:0px;
}
.post-title h1 span {
	color: #33707e;
}
.post-title h1.author {
	color: #888888;
	font-size: 14px;
	padding-top: 2px;
}
.post-title h2, .post-title h2 a  {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 0 0 .45em;
	color: #222222;
	text-decoration: none;
}
/*- Post Date -*/
.post-date {
	margin: 0 0 1.25em;
}
.post-date a {
	color: #ffffff;
}
.post-date em {
	background: #5eb7cb;
	color: #ffffff;
	font-size: .9em;
	font-style: normal;
	padding: 3px 5px;
	line-height: 1.75em;
}
/*- Post Excerpt -*/
.post-excerpt {
	display: table;
	font-size: 13px;
	font-style: italic;
	height: 1%;
 /* margin: 0 0 1em; */
}
/*- Post Lists -*/
.post ul, .post ol {
	margin: 0 0 1.5em;
}
.post ul li {
	/*background: url(../images/ico-list.gif) no-repeat 0 6px;*/
	margin: 0 0 .4em;
	padding: 0 0 0 0px;
}
.post ol li {
	list-style: decimal;
	list-style-position: inside;
	margin: 0 0 .4em;
}
/*- Post Blockquote -*/
.post blockquote {
	border-left: 3px solid #cfcfcf;
	font-size: 13px;
	font-style: italic;
	margin: 0 0 1.5em;
	padding: 5px 0 0 10px;
}
/*- Post Author -*/
.post-author {
	margin: 0 0 1em;
}
.author-details {
	font-size: .85em;
}
.author-descr {
	display: table;
	height: 1%;
}
/*- Social Links -*/
.social-links {
	background: url(../images/box-bgr2.gif) #f1f1f1 repeat-x top;
	height: 42px;
	padding: 0 8px;
}
.social-links .fl {
	line-height: 42px;
}
.social-links .fl h2 {
	background: url(../Images/icon/Shield.png) no-repeat top left;
	padding-left:36px;
}
.social-links .fl span {
	
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 0 8px 0;
	width: 33px;
	margin-right: 6px;
	display: inline-block;
	line-height: 32px;
	height: 33px;
}
.social-links .fr {
	padding: 9px 0 0;
}
.social-links .fr span {
	line-height: 21px;
}
.social-links img {
	margin: 0 0 0 2px;
}
/*- Related Posts -*/
.post-rel {
	line-height: 1.5em;
}
.post-rel a {
	color: #33707E;
}
/*- Post Comments -*/
.post-comments .fl {
	width: 80px;
}
.post-comments .fr {
	width: 520px;
}
/*- Widget Title - */
.wtitle {
	background: url(../images/box-bgr.gif) repeat-x top;
}
.wtitle h2 {
	line-height: 40px;
	margin: 0;
	padding: 0 0 0 18px;
}
/*=== Styling Boxes ===*/
/*- Box1 -*/
.box {
	background: #ffffff;
	border: 1px solid #cfcfcf;
	margin: 0 0 28px;
	padding: 1px;
}
.box .content {
	background: url(../images/box-bgr.gif) #ffffff repeat-x top;
	height: 1%;
	padding: 18px;
}
.box.ads .content {
	padding-left: 15px;
	padding-right: 0;
	text-align: center;
}
#rightcol .box {
	margin: 0 0 10px;
}
/*- Box2 -*/
.box2 {
	background: #f9f9f9;
	border: 1px solid #cfcfcf;
	height: 1%;
	margin: 0 0 20px;
	padding: 18px;
	min-height: 115px;
}
.box2.alt {
	background: #FFFFFF;
}
.box2.alt {
	background: #FFFFFF;
}
.comm-name, .comm-date {
	line-height: 20px;
}
/*=== Styling Lists ===*/
/*- List1 -*/
.list1 li {
	background: url(../images/ico-list1.gif) no-repeat 0 1.1em;
	border-bottom: 1px solid #e7e7e7;
	height: 1%;
	padding: .7em 0 .7em 13px;
}
.list1 li.last {
	border: 0;
}
#rightcol .list1 li a:hover {
	color: #33707e;
}
/*=== Styling Forms ===*/

input:focus, textarea:focus{
background-color: lightyellow;
border: solid 1px #FFCC33;
}

input.btn {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}
select {
	padding: 3px;
}
/*- Search -*/
#search {
	float: right;
	height: 25px;
	padding: 37px 0 0;
}
#search input {
	background: url(../images/search-bgr.gif) repeat-x top;
	border: 1px solid #000000;
	float: left;
	padding: 8px;
	width: 285px;
}
#search input.btn {
	background: none;
	border: 0;
	margin: 8px 0 0 -30px;
	padding: 0;
	width: auto;
}
/*- Message -*/
.message div {
	margin: 0 0 18px;
}
.message input {
	padding: 9px 15px;
	width: 487px;
}
.message textarea {
	height: 114px;
	overflow: auto;
	padding: 9px 15px;
	width: 487px;
	font-family: Verdana;
}
.message .submit {
	float: left;
}
.message .btn {
	padding: 0;
	width: auto;
}
.message .notice {
	color: #a4a4a4;
	float: right;
	font-style: italic;
	padding: 10px 0 0;
}
/*=== Pics, Thumbs, Ads etc. ===*/
.pic img {
	border: 1px solid #cfcfcf;
	display: block;
	margin: 0 0 .8em;
}
.pic.fl img {
	margin-right: 23px;
}
.pic.fr img {
	margin-left: 23px;
}
.th {
	display: block;
	margin: 0 0 .5em;
}
.th.fl img {
	margin-right: 10px;
}
.th.fl img
{
	width:40px;
	height:40px;
	border: 1px solid #cfcfcf;
}
.ads img, .ads.flickr .content img {
	margin: 0 14px 15px 0;
}
.ads.flickr .content img {
	border: 1px solid #cfcfcf;
}
.ads.flickr .ac img {
	border: 0;
	margin: 0;
}
/*=== Footer ===*/
#footer {
	color: #5f5f5f;
	font-size: 11px;
	line-height: 39px;
	margin: 0 auto;
	width: 975px;
}
#footer a {
	color: #33707e;
	text-decoration: none;
}
#footer a:hover {
	color: #5f5f5f;
	text-decoration: underline;
}
/*=== Misc. ===*/
.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}
.hl, .hl2 {
	background: url(../images/hl-dot.gif) repeat-x top;
	clear: both;
	height: 2px;
	overflow: hidden;
	width: 100%;
}
.hl2 {
	background: none;
	border-top: 1px solid #e7e7e7;
	height: 1px;
	margin: 0 0 .8em;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}











