﻿<%@ Page language="c#" Inherits="SysVCREmails.WebForm1" Codebehind="SysVCREmails.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META HTTP-EQUIV="REFRESH" CONTENT="3600">
<title>Risc Certification Main</title>


</head>

<body>
<div id="header">
  <!-- logo -->
  <div id="logo">
    <h1><a href="" title="RISC Admin"><img src="resources/images/logo.png" alt="RISC Admin" /></a></h1>
  </div>
  <!-- end logo -->
  <!-- user -->
</div>
<br />
  <asp:Label id="lbl_messages" runat="server"></asp:Label>
</body>
</html>




