/*
   carbon.css
   Giornale HTML
   
	Alternate Color Stylings for Giornale

   Created by Mark Southard on 2010-08-23.
   Copyright 2010. All rights reserved.
*/


/* ============== */
/* = TYPOGRAPHY = */
/* ============== */
a {
	border-bottom: 1px dotted #303030;
	color: #303030;
}
a:hover { border-bottom: 1px solid #303030; }

/* =========== */
/* = HEADERS = */
/* =========== */
/* Header Two */
#header_two {
	background: #303030;
	background: -moz-linear-gradient(top, #303030, #202020);
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
}
/* Header Three */
#menu a.active,
#menu a:hover { color: #303030; }

			
/* ===================== */
/* = MAIN CONTENT AREA = */
/* ===================== */

/* Article Styles */
span.article_sticker {
	background: transparent url("../../images/carbon/article_sticker.png") no-repeat top left;
	text-shadow: -1px -1px 2px #000000;
}
span.article_banner {
	background: transparent url("../../images/carbon/article_banner.png") no-repeat top left;
	text-shadow: -1px -1px 1px #000000;
}
span.article_ribbon {
	background: transparent url("../../images/carbon/article_ribbon.png") no-repeat top left;
	text-shadow: -1px -1px 1px #000000;
	top: 75px;
	right: -40px;
	width: 185px;
	height: 26px;
}

/* ========================= */
/* = Page Specific Styling = */
/* ========================= */

/* == Blog Page Styling == */
/* Comments Styling */
.commentlist .reply a { background: transparent url("../../images/carbon/reply.png") no-repeat right; }
.commentlist .reply a:hover { border-bottom: 1px dotted #303030; }
.commentlist .vcard cite.fn a.url:hover { border-bottom: 1px dotted #303030;}

/* == Porfolio Page Styling == */
a.portfolio { border-bottom: 1px dotted #303030; }
a.portfolio:hover { border-bottom: 1px solid #303030; }

/* ===================== */
/* = STYLIZED ELEMENTS = */
/* ===================== */
/* Breadcrumbs */
span.breadcrumbs a:hover { border-bottom: 1px dotted #303030; }
span.breadcrumbs a:active { border-bottom: 1px solid #303030; }

/* Pagination */
		ul.pagination li a.active,
		ul.pagination li a:hover {
			background: #303030;
			background: -moz-linear-gradient(top, #303030, #202020);
			background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
			    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
		    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
			border: 1px solid #000000;
			text-shadow: 0 -1px 0 #000000;
		}

/* == Drop Caps == */
span.dropcap {
	background-color: #303030;
}
	
/* == Tabs Panel == */
ul.tabs_nav li a:hover {
	color: #303030;
}
ul.tabs_nav li a.current {
	background: #303030;
	color: #F1F1F1;
	border: 1px solid #303030;
}

/* =========== */
/* = BUTTONS = */
/* =========== */
a.button {
	background: #303030;
	background: -moz-linear-gradient(top, #303030, #202020);
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
	border: 1px solid #000000;
	text-shadow: -1px -1px 0 #000000;
}
	a.button:hover {
		background: #454545;
		background: -moz-linear-gradient(top, #303030, #202020);
		background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
		    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020'); /* IE6,IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020')"; /* IE8 */
		-moz-box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
		-webkit-box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
		box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
	}
	a.button:active {
		background: #202020;
		-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) inset;
		-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) inset;;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) inset;;
	}

/* ========= */
/* = FORMS = */
/* ========= */
/* Newsletter Sign Up */
input.button {
	background: #303030;
	background: -moz-linear-gradient(top, #303030, #202020);
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
	border: 1px solid #000000;
	text-shadow: 0 -1px 0 #000000;
}
	input.button:hover {
		background: #303030;
		background: -moz-linear-gradient(top, #303030, #202020);
		background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
		    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020'); /* IE6,IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020')"; /* IE8 */
		-moz-box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
		-webkit-box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
		box-shadow: 0 0 12px rgba(75, 75, 75, 0.95) inset;
	}
	input.button:active {
		background-color: #202020;
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
	}

/* Contact Form */
#contact_form input.button {
	background: #303030;
	background: -moz-linear-gradient(top, #303030, #202020);
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
	border: 1px solid #000000;
	text-shadow: -1px -1px 0 #000000;
}
	#contact_form input.button:hover {
		background-color: #454545;
		    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020'); /* IE6,IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020')"; /* IE8 */
		-moz-box-shadow: 0 0 15px rgba(75, 75, 75, .3);
		-webkit-box-shadow: 0 0 15px rgba(75, 75, 75, .3);
		box-shadow: 0 0 15px rgba(75, 75, 75, .3);
	}
	#contact_form input.button:active {
		background-color: #202020;
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
	}

/* Comment Form */
#commentform input.button {
	background: #303030;
	background: -moz-linear-gradient(top, #303030, #202020);
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
	border: 1px solid #000000;
	text-shadow: 0 -1px 0 #000000;
}
	#commentform input.button:hover {
		background-color: #454545;
		    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020'); /* IE6,IE7 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545', EndColorStr='#202020')"; /* IE8 */
		-moz-box-shadow: 0 0 15px rgba(75, 75, 75, .3);
		-webkit-box-shadow: 0 0 15px rgba(75, 75, 75, .3);
		box-shadow: 0 0 15px rgba(75, 75, 75, .3);
	}
	#commentform input.button:active {
		background-color: #202020;
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
		box-shadow: 0 0 15px rgba(0, 0, 0, .7) inset;
	}	

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/

.cs-buttons a.cs-active,
.cs-buttons a:hover { 
	background-color: #303030;
	background: -moz-linear-gradient(top left, #303030, #202020);
	background: -webkit-gradient(linear, left top, right bottom, from(#303030), to(#202020));
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030', EndColorStr='#202020')"; /* IE8 */
}