@charset "UTF-8";

/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
	font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size: 13px;
	font-weight:bold;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
	color: #CCCCCC;
}
/* Menu item containers, position children relative to this container and are a fixed width */
ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: auto;
	height:37px;
	float: left;
	background:url(../images/bg-navgradient.gif) repeat-x !important;
	border-right: solid 1px #b2b2b2;
	
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	position: absolute;
	left: -1000em;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	width: 8.2em;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: 1% 0 0 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{

	/*border: 1px solid #CCC;*/
}
ul.MenuBarHorizontal ul li
{
height:37px;
width:160px;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:11px;
background:url(../images/bg-navgradient-over.gif) repeat-x !important;

}

ul.MenuBarHorizontal ul li a
{
  display: block;
	cursor: pointer;
	background:url(../images/navarrow-over.gif) no-repeat ;
	background-position:5px 10px;
	padding: 0.95em 0.75em;
	padding-left:18px;
	padding-right:18px;
	color: #333;
	text-decoration: none
}
ul.MenuBarHorizontal ul li a:hover
{
display: block;
	cursor: pointer;
	background:url(../images/navarrow-over.gif) no-repeat ;
	background-position:5px 10px;
	padding: 0.95em 0.75em;
	padding-left:18px;
	padding-right:18px;
	color: #fff;
	text-decoration: none
}

/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	background:url(../images/navarrow.gif) no-repeat ;
	background-position:5px 10px;
	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
	color: #333;
	text-decoration: none;
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	display: block;
	cursor: pointer;
	background:url(../images/navarrow.gif) no-repeat ;
	background-position:5px 10px;
	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
	color: #fff;
	text-decoration: none;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	display: block;
	cursor: pointer;
	background:url(../images/navarrow.gif) no-repeat ;
	background-position:5px 10px;
	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
	color: #fff;
	text-decoration: none;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	
	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
	
}
ul.MenuBarHorizontal .MenuBarItemSubmenu
{

	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
	
}

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{

	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	
	padding: 0.80em 0.75em;
	padding-left:18px;
	padding-right:18px;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{

	padding: 0.65em 0.75em;
	padding-left:18px;
	padding-right:18px;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}
