﻿<%@ Page language="c#" Inherits="addCorpDoc.WebForm1" Codebehind="addCorpDoc.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Add Documents</title>
<link rel="stylesheet" href="../StyleSheets/ModuleStylesheets.css" media="all" />
<link rel="stylesheet" type="text/css" href="resources/css/style.css" media="screen" />
<script src="../js/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="../js/jquery.ui.core.js" type="text/javascript"></script>
<script src="../js/jquery.ui.datepicker.js" type="text/javascript"></script>
<link href="../css/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" />
<link href="../css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../css/style.css" media="all" />
<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#txt_expirationdate').datepicker();
    });    
    </script>
    <script>
function goBack()
  {
  window.history.back()
  }
</script>
</head>
<body>
<!-- Header One -->
   <div id="Div1" class="grid_4">
<div class="box newsletter">
<button onclick="goBack()" style="float:right;">Cancel</button>
        <h2 class="box_title">  Add Corporate Docs </h2>
        <p>Upload a document, then give it a name and expiration date. Click 'Add Document' to save it.</p>
        <form id="DocumentForm" method="post" runat="server">
          <asp:HiddenField ID="h_intcid" runat="server" />
          <asp:HiddenField ID="h_strVariabletype" runat="server" />
          <asp:HiddenField ID="h_strUniqueFileName" runat="server" />
           <div class="item">
              <label for="SZUsername"><asp:Label ID="lbl_compliancetype" runat="server" />  </label>
           </div>
           <div class="form" style="padding-left:0px;">
            <asp:FileUpload ID="FileUpload1" runat="server" />
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Upload File" />&nbsp;<br />

            
                   <br /><br />
            <div class="item">
              <label for="SZUsername">Enter Document Name  </label>
              <br>
              <asp:TextBox ID="txt_name" Columns="50" MaxLength="50" runat="server" />
            </div>
            <div class="item">
              <label for="SZUsername">Enter Expiration Date</label>
              <br>
              <asp:TextBox ID="txt_expirationdate" Columns="50" MaxLength="50" runat="server" CssClass="cat_textbox"/>
            </div>
            <div class="item">
              <label for="SZUsername">Not Required</label>
              <asp:CheckBox ID="cb_corp_file_req" runat="server" />
            </div>
            <div class="item">
              <asp:Button ID="btn_login"  OnClick="submit_add_document" Text="Add Document" runat="server" />
            </div>
            <div class="item">
                <asp:Label ID="lbl_error_message" CssClass="error_message" runat="server" ></asp:Label>
                <asp:Label ID="lbl_internal_message" CssClass="internal_message" runat="server" ></asp:Label>
            </div>
          </div>
        </form>
      </div>
<!-- Close Footer Two -->
</div>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>

