﻿<%@ Page language="c#" Inherits="AdminLogin.WebForm1" Codebehind="AdminLogin.aspx.cs" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Risccertification Admin Login</title>
<link href="theme/examcss.css" rel="stylesheet" type="text/css" />
</head>


<body>
<form id="AdminLoginForm" method="post" runat="server">
<table width="757" height="492" border="0" align="center" >
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td valign="bottom">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="50%">&nbsp;</td>
        <td width="12%"><span class="redlabel">Email</span></td>
        <td width="38%"><asp:TextBox id="txt_email" Columns="25" maxlength="50" runat="server" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="redlabel">Password</span></td>
        <td><asp:TextBox TextMode="Password" id="txt_password" Columns="25" maxlength="50" runat="server" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><asp:Button ID="btn_login"  OnClick="submit_adminlogin" Text="Login" runat="server" /></td>
      </tr>    
      <tr>
        <td>&nbsp;</td>      
        <td colspan="2"><asp:Label id="error_message" CssClass="error_message" runat="server" ></asp:Label></td>
      </tr>      
    </table></td>
  </tr>
</table>
</form>
</body>
</html>
