<%@ Page language="c#" Inherits="ce10_exams.WebForm1" Codebehind="ce10_exams.aspx.cs" %>
<html>
<head>
<title>CE 10 Exam</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="theme/examcss.css" rel="stylesheet" type="text/css">

</head>
<body>

<form id="ce10_exam_form" method="post" runat="server">
<asp:HiddenField ID="h_userexam" runat="server" />
<asp:HiddenField ID="h_uid" runat="server" />
<asp:HiddenField ID="h_ueid" runat="server" />

<table width="800" height="500" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
  <tr>
    <td height="101" background="images/newexamfile_01.jpg"><div class="title">
        <h2><asp:Label ID="lbl_examname" runat="server" ></asp:Label></h2>
        <h3><asp:Label ID="lbl_section" runat="server" ></asp:Label></h3>
      </div></td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF">
      <table class="questions" width="600" border="0" align="center" >
        <tr>
          <th scope="col"><asp:Label ID="lbl_question" runat="server" ></asp:Label></th>
        </tr>
        <tr>
          <td width="521"><asp:RadioButton ID="rb_a" runat="server" GroupName="exam"/>
<label><asp:Label ID="lbl_answer1" runat="server" ></asp:Label></label>
          </td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_b" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer2" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_c" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer3" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_d" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer4" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_e" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer5" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_f" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer6" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td><asp:RadioButton ID="rb_g" runat="server" GroupName="exam"/>
            <label><asp:Label ID="lbl_answer7" runat="server" ></asp:Label></label></td>
        </tr>
      </table>
     </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td align="center">
      <asp:Label ID="lbl_back" runat="server" ></asp:Label>
      <asp:Label ID="lbl_forward" runat="server" ></asp:Label>
      <asp:ImageButton ID="btn_submit" ImageUrl="images/btn_submit.gif" OnClick="submit_exam_answer" runat="server" />
    </td>
  </tr>
    <tr>
    <td height="35" align="center" background="images/newexamfile_03.gif" ><asp:Label ID="lbl_questiondescription" runat="server" CssClass="questnumber" ></asp:Label></td>
  </tr>
  <tr><td>      <asp:Label ID="lbl_timeremaining" runat="server" ></asp:Label></td></tr>
</table>


<asp:Label ID="internal_message" runat="server" ></asp:Label>
</form>
</body>
</html>