<%@ Page language="c#" Inherits="ce9_exams_review.WebForm1" Codebehind="ce9_exams_review.aspx.cs" %>
<html>
<head>
<title>CE 8 Exam</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="theme/examcss.css" rel="stylesheet" type="text/css">
</head>
<body>

<table width="800" height="500" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
  <tr>
    <td height="101" background="images/newexamfile_01.jpg"><div class="title">
        <h2><asp:Label ID="lbl_examname" runat="server" ></asp:Label></h2>
        <h3><asp:Label ID="lbl_section" runat="server" ></asp:Label></h3>
      </div></td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF">
      <table class="questions" width="600" border="0" align="center" >
        <tr>
          <th scope="col" colspan="2"><asp:Label ID="lbl_question" runat="server" ></asp:Label></th>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage1" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer1" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage2" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer2" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage3" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer3" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage4" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer4" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage5" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer5" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage6" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer6" runat="server" ></asp:Label></label></td>
        </tr>
        <tr>
          <td width="100" align="right"><asp:Label ID="lbl_answerimage7" runat="server" ></asp:Label></td>
          <td width="500"><label><asp:Label ID="lbl_answer7" runat="server" ></asp:Label></label></td>
        </tr>
      </table>
     </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td align="center">
      <asp:Label ID="lbl_back" runat="server" ></asp:Label>
      <asp:Label ID="lbl_forward" runat="server" ></asp:Label>
      <asp:Label ID="lbl_resultshome" runat="server" ></asp:Label>
    </td>
  </tr>
    <tr>
    <td height="35" align="center" background="images/newexamfile_03.gif" ></td>
  </tr>
</table>
<asp:Label ID="internal_message" runat="server" ></asp:Label>

</body>
</html>