/**********************
 * Business Catalyst
 *********************/
body { margin:0.5em; background-color:#dddddd; font-family:Verdana; font-size:11px;}
div.webmethod {padding:0.5em;}
table {background-color:White; width:100%; border:2px solid #BBBBBB;}
table tr td {vertical-align:top; padding:0.5em;}
table tr th {width:160px; text-align:left;}
table tr td.td-left {border-right:1px solid #CCCCCC;}
h3 {color:#003399; border-bottom:1px solid #CCCCCC; padding:0.2em; font-size:14px; }
.output {margin:0.8em; padding:0.3em; background-color:#F5F5DC; }
.title {background-color:White; width:98%; border:2px solid #BBBBBB; margin-bottom:2em; padding:1em; font-size:larger; font-weight:700;}
.button {border:1px solid #BBBBBB; background-color:#EEEEEE; color:#333333; padding:0.2em; text-align:center; cursor:pointer; width:160px; }
.message {border:1px solid #3D86CF; background-color:#EDF5FA; text-align:center; padding:0.3em; margin:1em 0.5em; color:#003399;}
input {font-size:11px; font-family:Verdana; }
.no-border {border:1px dotted #CCCCCC;}
.deprecated {color:Red;}
div.contact-details {margin:0.5em;}
div.contact-details table {border:0;}
div.contact-details table tr td {padding:0.3em;}
.sub-header {background-color:Silver; color:White; padding:0.2em; font-weight:700;}
div.order-details {margin:0.2em;}
div.order-details input {width:200px; background-color:#F0FFFF; padding:0.1em;}
.main-header {font-weight:bold; color:White; background-color:Black; padding:0.1em; margin-top:1em;}
.others {font-size:11px; margin-top:0.5em; color:#003399;}
/*** Ecommerce ***/
td.ecommerce-info {width:100px;}
h3 a {font-size:12px; color:#003399;}
.extrainfo {margin:0.5em; border:1px dotted #CCCCCC; padding:0.5em;}



