<%@ Page Language="C#" AutoEventWireup="True" CodeBehind="Notification.aspx.cs" Inherits="Notification.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Web Service Sample</title>
    <link type="text/css" href="master.css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        This page is a shell for recieving notifications from the BC notification API. Take a look at the code-behind for more information.
    </div>
    <div>
        <h3>This is your order</h3>
  
    </div>
    </form>
</body>
</html>
