/*
   ie.css
   HTML
   
   Fixing all things Internet Explorer

   Created by Mark Southard on 2010-09-10.
   Copyright 2010. All rights reserved.
*/

/*********
*  Misc  *
*********/

#header_one_container a.active,
#header_one_container a:hover { 
	border-bottom: none;
	text-decoration: underline; 
}

small.scroll_top {
	padding-bottom: 2px;
	right: 5px; 
}

p.tag { margin-top: 15px; }

.arrow { top: 100%; }

/************
*  Buttons  *
************/
/* Force IE to display gradient backgrounds */
a.button,
a.tweet_button,
.social_sharing a.tweet_button,
.social_sharing a.facebook_button,
.social_sharing a.digg_button,
.social_sharing a.reddit_button,
.social_sharing a.stumble_button,
.social_sharing a.delicious_button,
ul.pagination li a { height: 1%; min-width: 0; min-height: 0; display: inline-block; }
.slide a.button { display: inline; }

a.button,
a.tweet_button { font-weight: 600; }
.social_sharing a.tweet_button,
.social_sharing a.facebook_button,
.social_sharing a.digg_button,
.social_sharing a.reddit_button,
.social_sharing a.stumble_button,
.social_sharing a.delicious_button {
	font-weight: 600;
	margin-right: 5px;
}
.social_sharing a.tweet_button:hover,
.social_sharing a.facebook_button:hover,
.social_sharing a.digg_button:hover,
.social_sharing a.reddit_button:hover,
.social_sharing a.stumble_button:hover,
.social_sharing a.delicious_button:hover {
	font-weight: 600;
}

/**************
*    FORMS    *
**************/
#contact_form input.button {
	font-weight: 600;
}
#commentform input.button {
	font-weight: 600;
}
input {
	font-size: .857em;
	font-weight: 400;
}
input#search_field {
	padding-top: 6px;
	height: 18px;
}
	input#search_field:focus { background: #FFFFFF; }
input#newsletter {
	height: 19px;
	padding-top: 3px;
}
input.button {
	font-weight: 600;
}
input:visited {
	border: none;
	outline: none;
}

.cs-buttons a { border: 1px solid #d7d7d7; }