/*
   ie7.css (targets Internet Explorer 7)
   Giornale HTML
   
   Created by Mark Southard on 2010-09-09.
   Copyright 2010. All rights reserved.
*/

/* Misc */
ul.social_icons a.rss_feed:hover { background: transparent url("../images/ie_rss_16_hover.png") no-repeat top; }
ul.social_icons a.facebook:hover { background: transparent url("../images/ie_facebook_16_hover.png") no-repeat top; }
ul.social_icons a.twitter:hover { background: transparent url("../images/ie_twitter_16_hover.png") no-repeat top; }

#sidebar_social {
	position: relative;
	min-height: 70px;
}
h4.rss_feed { position: absolute; }
h4.twitter {
	position: absolute;
	left: 170px;
}

span.article_sticker {
	font-size: 30px;
	font-weight: 500;
}
span.article_banner {
	font-size: 18px;
	font-weight: 500;
	padding-top: 1px;
}

/* Dropdown Menu */
#menu {
	font-size: 14px;
}
#menu ul {
	background: #F1F1F1;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#F1F1F1', EndColorStr='#E1E1E1'); /* IE6,IE7 */
}

/* Tabs */
.ui-tabs-panel ul { padding-top: 0; }
.ui-tabs-panel ul li:first-child { margin-top: 0; }
ul.ui-tabs-nav {display:block;}

/* Buttons */
.social_sharing a.tweet_button,
.social_sharing a.facebook_button,
.social_sharing a.digg_button,
.social_sharing a.reddit_button,
.social_sharing a.stumble_button,
.social_sharing a.delicious_button {
	font-weight: 400;
	margin-right: 5px;
	padding: 4px 3px;
}
.social_sharing a.tweet_button:hover,
.social_sharing a.facebook_button:hover,
.social_sharing a.digg_button:hover,
.social_sharing a.reddit_button:hover,
.social_sharing a.stumble_button:hover,
.social_sharing a.delicious_button:hover {
	font-weight: 400;
}

/* Forms */
#comments { position: relative; }
#comments a.button { 
	float: none; 
	min-height: 20px;
	position: absolute;
	top: 10px;
	right: 0px;
}
input#search_field {
	padding-top: 4px;
	padding-bottom: 3px;
}
input#newsletter {
	padding-top: 1px;
	padding-bottom: 3px;
}
.newsletter input.button { height: 25px; width: 93px; font-weight: 500; }