/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Script URI: http://web-kreation.com/index.php/tutorials/nice-clean-sliding-login-panel-built-with-jquery/
Date: March 26, 2009
Version: 1.0

	Copyright 2009 Jeremie Tisseau
	"Sliding Login Panel with jQuery 1.3.2" is distributed under the GNU General Public License version 3:
	http://www.gnu.org/licenses/gpl-3.0.html

*/       


/* body {
  	font: 85%/0.9 arial, helvetica, sans-serif;
	background: #99A989 url(../images/signin/bg.jpg) repeat 0 0;
  	line-height: 130%;
  	width: 100%;
  	min-width: 970px;
  	color: black;
}*/

a {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

a img {
  border: none;/*remove border for linked images*/
}

/*#toppanel h1 {
	font-size: 1.6em;
	height: 20px;
	padding-top: 0;
}

#toppanel h2{
	font-size: 1.2em;
	height: 20px;
	padding-top: 0;
}
*/
.highlight {background-color:#FF9D9D;border-bottom:#F30 1px solid;border-top:#F30 1px solid;padding: 4px 10px}

/***** Main Layout ****/
#containersignin {
  	width: 100%;
  	height: 100%;
  	text-align: center;/* IE fix to center the page */
}

#contentsignin {
  	width: 740px;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	padding: 20px;
}
