@charset "UTF-8";
/* CSS Document */

.certbgcars {
	position: relative;
	width: 794px;
	height: 598px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	background: url(images/certs/CertificateCARS_noscore.gif);
	background-image: url(images/certs/cars-cert-hires.jpg);
}
